body {
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0 10px;
  font-size: 19px;
}

p.date {
  font-size: 15px;
}

img.icon {
  position: relative;
  left: -90px;
}

img.weather-emoji {
  margin: -15px 13px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

footer p {
  font-size: 12px;
  color: grey;
  margin-top: 20px;
}

.city-name {
  font-weight: 600;
}

.humidity,
.wind {
  font-size: 15px;
}

.degree-main {
  margin: 10px;
  font-size: 70px;
  font-weight: 500;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
  text-decoration: none;
}

.sup {
  position: relative;
  top: -35px;
}

.rain {
  font-size: 70px;
}

.forecast {
  margin: 50px 0 0;
}

.forecast .col-2 {
  opacity: 0.6;
}

.week-day {
  font-weight: 600;
}

.forecast .col-2:hover {
  cursor: pointer;
  opacity: 1;
}
