body {
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.city-name {
  font-weight: 600;
}

.humidity,
.wind {
  font-size: 15px;
}

.degree-main {
  margin: 10px;
  font-size: 70px;
  font-weight: 500;
}

.sup {
  position: relative;
  top: -35px;
}

.rain {
  font-size: 70px;
}

.forecast {
  margin: 50px 0 0;
}

.forecast .col {
  opacity: 0.6;
}

.week-day {
  font-weight: 600;
}

.weather-emoji {
  font-size: 40px;
}

.forecast .col:hover {
  cursor: pointer;
}

.forecast .col:hover {
  opacity: 1;
}
